<!doctype html>
<html lang="en">
	<head>
		<!-- Required meta tags -->
		<meta name="renderer" content="webkit">
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!-- Bootstrap CSS -->
		<title>首页</title>
	</head>
	<body>
		<div class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">
				<img src="images/logo.jpg" width="60" height="30" alt="">
			</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			    <span class="navbar-toggler-icon"></span>
			  </button>
			<div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
					  <a class="nav-link active" href="#">首页</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">关于我们</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="products.html">产品中心</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">案例中心</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">技术支持</a>
					</li>
					<li class="nav-item">
					  <a class="nav-link" href="#">联系我们</a>
					</li>
				</ul>
			</div>
		</div>
		<div class="slides">
			<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
				<div class="carousel-inner">
					<div class="carousel-item active">
					  <img class="d-block w-100" src="images/1.jpg" alt="">
					</div>
					<div class="carousel-item">
					  <img class="d-block w-100" src="images/4.jpg" alt="">
					</div>
					<div class="carousel-item">
					  <img class="d-block w-100" src="images/1.jpg" alt="">
					</div>
				</div>
			</div>
		</div>
		</div>
		<div class="content">
			<div class="block intro">
				<div class="container">
					<div class="wrapper">
						<div class="title">
							<h2>公司介绍</h2>
						</div>
						<div class="detail">
							<div class="left"></div>
							<div class="right">
								<p>解空间空间的罚款的房价肯定军阀；佛教阿斯兰打开阿里斯顿咖啡机阿拉山口的房间阿苏克的肌肤轮廓受到激发拉克丝的肌肤</p>
								<a class="more">更多</a>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block news">
				<div class="container">
					<div class="wrapper">
						<div class="title">
							<h2>新闻中心</h2>
						</div>
						<div class="detail">
							<div class="detail-wrapper clearfix">
								<div class="float-left left-content">
									<div class="wrapper">
										<div class="img">
											<img src="images/2.jpg" />
										</div>
										<div class="text clearfix">
											<div class="left-date float-left">
												<div class="date">
													<p class="day">26</p>
													<p class="year-month">2017-10</p>
												</div>
											</div>
											<div class="right-content float-right news-head-item">
												<p class="title">上半年机械通用零部件行业齿轮进口额同比额增18.44%</p>
												<hr/>
												<p class="detail">2017年上半年机械通用零部件行业在国家机械工业宏观发展向好的带动下亦延续了稳定...</p>
											</div>
										</div>
									</div>
								</div>
								<div class="float-right right-content">
									<div class="news-list">
										<div class="news-head clearfix">
											<div class="news-head-item float-left">
												<p class="title">机械通用零部件行业一季度趋势向好</p>
												<hr />
												<p class="detail">近日，中国机械通用零部件工业协会第六次四次理事扩大会议在济南试金仪器有限公司举行...</p>
											</div>
											<div class="new-head-date date float-right">
												<p class="day">26</p>
												<p class="year-month">2017-10</p>
											</div>
										</div>
										<div class="news-items">
											<ul class="news-items-wrapper">
												<li class="item clearfix">
													<span class="news-detail">错位发展策略决定减速机发展空间</span>
													<span class="news-date float-right">2017-10-26</span>
												</li>
												<li class="item clearfix">
													<span class="news-detail">错位发展策略决定减速机发展空间</span>
													<span class="news-date float-right">2017-10-26</span>
												</li>
												<li class="item clearfix">
													<span class="news-detail">错位发展策略决定减速机发展空间</span>
													<span class="news-date float-right">2017-10-26</span>
												</li>
												<li class="item clearfix">
													<span class="news-detail">错位发展策略决定减速机发展空间</span>
													<span class="news-date float-right">2017-10-26</span>
												</li>
											</ul>
										</div>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block corperation">
				<div class="container">
					<div class="wrapper">
						<div class="title">
							<h2>合作品牌</h2>
						</div>
						<div class="detail">
							<div class="partners">
								<div class="swiper-wrapper">
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
								</div>
								<!-- 如果需要分页器 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="block case">
				<div class="container">
					<div class="wrapper">
						<div class="title">
							<h2>客户案例</h2>
						</div>
						<div class="detail">
							<div class="clients">
								<div class="swiper-wrapper">
									<div class="swiper-slide">
										<img src="images/1.jpg" />
									</div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
									<div class="swiper-slide"><img src="images/1.jpg" /></div>
								</div>
								<!-- 如果需要分页器 -->
								<div class="swiper-pagination"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer-nav">
			<div class="container f-n">
				<div class="footer-nav-wrapper clearfix">
					<div class="f-nav fl">
						<dl class="f-nav-list fl">
							<dt><a class="link" href="http://www.baidu.com/">走进百度</a></dt>
							<dd><a class="link" href="http://www.baidu.com/">走进百度</a></dd>
						</dl>
						<dl class="f-nav-list fl">
							<dt><a class="link" href="http://www.baidu.com/">产品中心</a></dt>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
						</dl>
						<dl class="f-nav-list fl">
							<dt><a class="link" href="http://www.baidu.com/">新闻中心</a></dt>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
						</dl>
						<dl class="f-nav-list fl">
							<dt><a class="link" href="http://www.baidu.com/">成功案例</a></dt>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
						</dl>
						<dl class="f-nav-list fl">
							<dt><a class="link" href="http://www.baidu.com/">客户服务</a></dt>
							<dd><a class="link" href="http://www.baidu.com/">产品中心</a></dd>
						</dl>
						<dl class="f-nav-list fl">
							<dt><a class="link" href="http://www.baidu.com/">解决方案</a></dt>
							<dd><a class="link" href="http://www.baidu.com/">解决方案</a></dd>
						</dl>
						<dl class="f-nav-list fl">
							<dt><a class="link" href="http://www.baidu.com/">联系我们</a></dt>
							<dd><a class="link" href="http://www.baidu.com/">销售人性</a></dd>
						</dl>
					</div>
					<div class="f-concat fr">
						<div>
							<div class="qrcode"></div>
							<div>
								<p>客服电话</p>
								<p class="tel">400-008-3635</p>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="footer">
			<div class="container f-c">
				<div>
					<div class="fr">
						<a class="link" href="http://www.baidu.com/">法律声明</a>
						<a class="link" href="http://www.baidu.com/">联系我们</a>
						<a class="link" href="http://www.baidu.com/">网站地图</a>
					</div>
					<div class="fl">
						<span>&copy;2018 百度科技有限公司版权所有</span>
						<span>粤ICP备09111111号</span>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>